@page "/"
@inject PeopleContext db
<PageTitle>Počet lidí v db</PageTitle>

<h1>Počet lidí v db</h1>
<span>@count</span>

@code{
    int count;

    protected override void OnInitialized()
    {
        count = db.Persons.Count();
    }
}
